<!doctype html>
<html>
<head>
    <title>Github Card</title>
    <script src="node_modules/vue/dist/vue.min.js"></script>
    <script src="node_modules/axios/dist/axios.min.js"></script>
</head>
<body>
    <div id="app">
        <div class="container">
            <div v-if="error" style="color: red">{{errormsg}}</div>
            <input v-model="username" type="text" placeholder="Username" />
            <button v-on:click="search" id="search">Search</button>
            <div class="cards" v-for="card in cardlist">
                <div class="card">{{card}}</div>
            </div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>